#image-container {
    position: relative; /* necesario para que ::before se ubique dentro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px black;
    overflow: hidden; /* para que el blur no se salga */
}

    /* Aquí el truco */
    #image-container::before {
        content: "";
        position: absolute;
        inset: 0; /* top:0, right:0, bottom:0, left:0 */
        background-image: url("/Images/ImagenesCarousel/turismo.jpg");
        background-size: 100% 100%;
        background-position: center;
        filter: blur(5px) brightness(0.8);
        z-index: -1; /* lo manda al fondo */
    }

#bag-image {
    width: 100%;
    height: auto;
}

#image-container p {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    margin: 0.5em 0;
}
